@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background-image: linear-gradient(-45deg, #ffd1dc, #ff69b4, #e0115f, #d946ef);
  background-size: 300% 300%;
  animation: gradientShift 18s ease infinite;
}

.animate-bouncy {
  animation: bouncy 1s infinite;
  animation-delay: 1.3s; /* The animation will wait for 1 second before starting */
}

.image-filter {
  filter: drop-shadow(5px 5px 8px rgba(238, 24, 234, 0.676));
}

.animate-pinkpanther {
  animation:
    slideUp 1.5s ease-out forwards,
    bouncy 1s ease-out 1.3s infinite,
    slideRight 5.5s ease-out 10s forwards,
    tiltLeft 2s ease-out 18.5s forwards,
    tiltRight 2s ease-out 20.5s forwards,
    tiltLeft 1.5s ease-out 25.5s forwards,
    tiltRight 3s ease-out 27s forwards;
}

@keyframes tiltLeft {
  0% {
    transform: translateX(85%);
    transform: translateX(85%) rotate(0deg);
    transform-origin: top center;
    opacity: 0.33;
  }
  100% {
    transform: translateX(30%) rotate(-35deg);
    transform-origin: top center;
    opacity: 0.7;
  }
}

@keyframes tiltRight {
  0% {
    transform: translateX(30%) rotate(-35deg);
    transform-origin: top center;
    opacity: 0.7;
  }
  100% {
    transform: translateX(110%) rotate(0deg);
    transform-origin: top center;
    opacity: 0;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(85%);
    opacity: 0.33;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bouncy {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@media (prefers-color-scheme: dark) {
  .animated-gradient {
    background-image: linear-gradient(
      -45deg,
      #3b0a3b,
      #7a165b,
      #8b1874,
      #4a044e
    );
  }
}
